@use "../../App.scss" as *;

//menu mobile
.mobile_menu {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    transition: all 1s ease-in-out;
    background: #4d3e5ec2;

    h1 {
        color: white;
    }

    >.container_logo_menu_mobile {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 1em 0;
    }

    >.container_custom_pages_menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-around;
        justify-content: space-evenly;
        padding: 1em 0;

        >div {
            color: white;
            padding: 4vh;
            width: 100%;
            text-align: center;
            transition: transform ease-in-out .3s , box-shadow ease-in-out .3s;

            &:hover {
                background-color: #32283dc2;
                transform: translateY(-10px);
                box-shadow: 0px 6px 35px 0px #3b224a9e;
            }
        }
    }

    &.close {
        display: none;
    }

    &.open {
        display: block;
    }
}