@use "../../App.scss" as *;

.global_content_container {

    .filter_container {
        position: relative;
        z-index: 100;
        max-width: 1000px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding: 1em;
        background-color: white;
        box-shadow: 0 0 16px 2px #80808085;
        border-radius: 7px;
        top: 0;
        left: 0;
        right: 0;
        position: sticky;
        transition: transform 0.3s ease;

        &.filter-sticked {
            // Ajoutez vos styles pour le cas où le conteneur est collé en haut
            transition: transform 0.3s ease, height 0.3s ease; // Ajoutez une transition pour une animation fluide
        }


        >div {
            display: flex;
            flex-direction: column;
        }

        &.closed.filter-sticked  {
            transform: translateY(-90%);
        }

        .toggle_icon {
            cursor: pointer;
    
            svg {
                transition: transform 0.3s ease;
            }
    
            &.rotate {
                svg {
                    transform: rotate(180deg); 
                }
            }
        }
    }

    .content_container {
        max-width: 1000px;
        margin: auto;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0 10px 0px #b9b9b991;
        padding: 1em;

        .LandingPage_first_title {
            font-family: 'Montserrat-bold', sans-serif;
            -webkit-text-fill-color: transparent;
            background: $DBYO_linear_gradient_purple_green;
            -webkit-background-clip: text;
            background-clip: text;
            color: $DBYO_green_light;
            font-size: 2em;
            text-align: left;
            font-weight: 800;
            margin: 1em 1em 0.8em 1em;
        }

        .LandingPage_second_title {
            font-family: 'Montserrat-bold', sans-serif;
            -webkit-text-fill-color: transparent;
            background: $DBYO_linear_gradient_red_purple_green;
            -webkit-background-clip: text;
            background-clip: text;
            color: $DBYO_green_light;
            font-size: 1.5em;
            text-align: left;
            font-weight: 600;
            margin: 1em 1em 0.8em 0em;
        }

        .LandingPage_third_title {
            font-family: 'Montserrat-bold', sans-serif;
            -webkit-text-fill-color: transparent;
            background: $DBYO_linear_gradient_green;
            -webkit-background-clip: text;
            background-clip: text;
            color: $DBYO_green_light;
            font-size: 1.2em;
            text-align: left;
            font-weight: 500;
            margin: 1em 1em 0.8em 0em;
        }

        .sub_item,
        .experiences {
            margin: 1em;
            background: rgba(255, 255, 255, 0.28);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5.3px);
            -webkit-backdrop-filter: blur(5.3px);
            border: 1px solid rgba(255, 255, 255, 0.41);

            h4 {
                margin: 0;
            }

            .container_title_experience {
                margin: 1em;
                display: flex;
                flex-direction: column;
                padding-bottom: 1em;
                border-bottom: 4px solid $DBYO_green_light;
                box-shadow: 0px 4px 0px #81ffcb6b;

                h3,
                p {
                    margin: 0.2em;
                }

                >div {
                    display: flex;
                    gap: 1em;
                    align-items: center;
                    justify-content: space-between;

                    >p {
                        color: #80808085;
                        font-size: 0.8em;
                        font-style: italic;
                    }
                }

            }

            .skills {}

            .responsibilities {
                margin: 1em;
                padding: 1em 1em;

                >ul{
                    padding: 0;
                }
            }

            transition: 1s ease-in-out;

            &:hover {
                transform: translateY(-5px);
            }
        }



        .intro_text {}

        .news_highlights {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .show_all_article_btn,
        .show_all_product_btn {
            margin-top: 0.5em;
        }

        .LandingPage_first_title::selection,
        .LandingPage_second_title::selection,
        .LandingPage_third_title::selection {
            -webkit-text-fill-color: $DBYO_white;
            background: $DBYO_green_light;
            background-clip: unset;
            color: $DBYO_white;
        }

        .section {
            margin: 2em;

            .recent_work_wrapper {
                padding: 1em;

                >div {
                    font-size: 1.1em;
                    margin-bottom: 1em;
                }
            }
        }


    }

    .container_btn_back_to_top {
        opacity: 0;
        transition: opacity 1s ease;
    }

    .container_btn_back_to_top>div {
        &:hover {
            transform: translate(-50%, -45%);
        }

        position: fixed;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        max-width: 200px;
        background-color: $DBYO_purple_light;
        color: $DBYO_white;
        text-decoration: none;
        text-align: center;
        box-shadow: 0px 5px 20px 11px rgb(187 132 232 / 40%);
        padding: 0.5em 1em;
        border-radius: 25px;
    }
}


@media (max-width:818px) {
    .filter_container {
        flex-direction: column;
    }
}